* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
src/Main.java -text
src/Slg.java -text
src/Ui.java -text
src/resources/VERSAO -text
src/resources/icon.png -text
