* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.core.prefs -text
bin/Main.class -text
bin/Slb.class -text
bin/Slg.class -text
src/Main.java -text
src/Slb.java -text
src/Slg.java -text
